/* app/globals.css */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #f4f4f9; /* สีพื้นหลังเทาอ่อนๆ สบายตา */
  color: #333;
}